<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953288630092-puac39vr3o8hptgm6md2c87f2apsvrqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953288630092-puac39vr3o8hptgm6md2c87f2apsvrqa</string>
	<key>API_KEY</key>
	<string>AIzaSyACPGUZAZDVBqRGHvq5b_dAduOfdiKizAE</string>
	<key>GCM_SENDER_ID</key>
	<string>953288630092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.food</string>
	<key>PROJECT_ID</key>
	<string>spacex-57c09</string>
	<key>STORAGE_BUCKET</key>
	<string>spacex-57c09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953288630092:ios:20d24423638bb6c4fb39e9</string>
</dict>
</plist>